#nav-bar {
  height: 80px;
  background-color: #00a187;
  padding-left: 2em;
  padding-right: 2em;
  color: #e8fdff;
  z-index: 9000;
  position: fixed; 
  top: 0; 
  width: 100%;
}
#nav-bar .logo {
  height: 80px;
  width: 80px;
  position: relative;
  float: left;
}
#nav-bar .header {
  margin-left: 10px;
  position: absolute;
  float: left;
  line-height: 250%;
  font-size: 30px;
}