.tweet-container:hover {
  opacity: 1;
}

.tweet-container:hover span {
  visibility: visible;
}

.container {
  margin-top: 100px;
}

article {
  align-items: center;
  margin: 0em 2em 2em 2em;
  border-radius: 10px;
  padding: 0 0.5em 0 0.5em;
  background-color: white;
  border: #cccccc solid 1px;
  opacity: 0.5;
}

.counter {
  position: relative;
  bottom: -110px;
  font-size: 18px;
}

.isa_error_long {
  color: #d8000c;
  background-color: #ffd2d2;
  border-radius: 0.5em;
  border: 1px solid;
  visibility: hidden;
}
.isa_error_empty {
  color: #d8000c;
  background-color: #ffd2d2;
  border-radius: 0.5em;
  border: 1px solid;
  visibility: hidden;
}

.tweet-header {
  background-color: #f3f3f3;
  margin: 0 -0.5em;
  border-radius: 10px 10px 0 0;
  padding: 0.5em 0 0.5em 0;
}

.profile-pic {
  height: 50px;
  width: 50px;
  position: relative;
  float: left;
  margin-left: -5px;
  border-radius: 9px 0 0 0;
}
.username {
  align-items: left;
  margin-top: 14px;
  margin-left: 50px;
}

.tweeter-handle {
  text-align: right;
}

.tweet-footer {
  border-top: #f3f3f3 solid 1px;
  padding: 0.5em 0 0.5em 0;
}

i {
  position: relative;
  padding: 2px;
  float: right;
}

i:hover {
  position: relative;
  float: right;
}
