section {
  align-items: center;
  margin: 0em 2em 2em 2em;
  border-radius: 10px;
  padding: 2%;
  background-color: #eeeeee;
  border: #cccccc solid 1px;
}


article {
  align-items: center;
  margin: 0em 2em 2em 2em;
  border-radius: 10px;
  padding: 0 0.5em 0 0.5em;
  background-color: white;
  border: #cccccc solid 1px;
  opacity: 0.5;
}

header {
    background-color: #f3f3f3;
  margin: 0 -0.5em;
  border-radius: 10px 10px 0 0;
  padding: 0.5em 0 0.5em 0;
}

.counter {
  position: relative;
  float: right;
}

.profile-pic {
  height: 80px;
  width: 80px;
  display: inline-block;
  margin: auto;
}

.tweeter-handle {
    text-align: right;
}

.username {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}

.tweet-footer {
  border-top: #f3f3f3 solid 1px;
  padding: 0.5em 0 0.5em 0;
}

.tweet-container:hover {
  opacity: 1;
}

.icons {
  position: relative;
  padding: 2px;
  float: right;
}

.icons:hover {
  position: relative;
  float: right;
}
